<!-- footer Start -->
<footer>
  <div class="container">
            <div class="row">
			 {% if page.lang == "en" %}
                <div class="col-sm-3 myCols" style="border-right: solid 1px #7B7B7B; margin-top: 35px;">
                    <h5>GIS</h5>
                    <ul>
                        <li><a href="{{ site.baseurl }}/{{page.lang}}/gis">What is a GIS ?</a></li>
                        <li><a href="{{ site.baseurl }}/{{page.lang}}/members">Members</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols" style="border-right: solid 1px #7B7B7B;margin-top: 35px;">
                    <h5>Methods & Tools</h5>
                    <ul>
                       <li><a href="{{ site.baseurl }}/{{page.lang}}/publications">Publications</a></li>
                        <li><a href="{{ site.baseurl }}/{{page.lang}}/packages">Packages</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols" style="border-right: solid 1px #7B7B7B;margin-top: 35px;">
                    <h5>Web learning</h5>
                    <ul>
                       <li><a href="{{ site.baseurl }}/{{page.lang}}/designs">Architecture & Design Drivers</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/sizing-models">Sizing Models</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/sizing-codes">Sizing Codes</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/optimizations">Optimizations & Explanations</a></li>
                       
                    </ul>
                </div>
                <div class="col-sm-3 myCols" style="margin-top: 35px;">
                    <h5>Applications cases</h5>
                    <ul>
                        <li><a href="{{ site.baseurl }}/{{page.lang}}/models">Models Examples</a></li>
                        <li><a href="{{ site.baseurl }}/{{page.lang}}/cases">Cases Studies</a></li>
                    </ul>
                </div>
				{% endif %}
           {% if page.lang == "fr" %}
		   <div class="col-sm-3 myCols" style="border-right: solid 1px #7B7B7B;margin-top: 35px;">
                    <h5>GIS</h5>
                    <ul>
                        <li><a href="{{ site.baseurl }}/{{page.lang}}/gis">Qu'est-ce qu'un GIS ?</a></li>
                        <li><a href="{{ site.baseurl }}/{{page.lang}}/members">Membres</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols" style="border-right: solid 1px #7B7B7B;margin-top: 35px;">
                    <h5>Méthodes & Outils</h5>
                    <ul>
                       <li><a href="{{ site.baseurl }}/{{page.lang}}/publications">Publications</a></li>
                        <li><a href="{{ site.baseurl }}/{{page.lang}}/packages">Packages</a></li>
						
                    </ul>
                </div>
                <div class="col-sm-3 myCols" style="border-right: solid 1px #7B7B7B;margin-top: 35px;">
                    <h5>Cours</h5>
                    <ul>
                       <li><a href="{{ site.baseurl }}/{{page.lang}}/designs">Architecture & Design Drivers</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/sizing-models" >Sizing Models</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/sizing-codes">Sizing Codes</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/optimizations">Optimisations & Explications</a></li>
                       
                    </ul>
                </div>
                <div class="col-sm-3 myCols" style="margin-top: 35px;">
                    <h5>Cas d'applications</h5>
                    <ul>
                        <li><a href="{{ site.baseurl }}/{{page.lang}}/models">Exemples de modèles</a></li>
                        <li><a href="{{ site.baseurl }}/{{page.lang}}/cases">Cas d'études</a></li>
                    </ul>
                </div>
				{% endif %}
            </div>
        </div>
		<div class="footer-copyright">
            <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
        </div>
	<script>
var coll = document.getElementsByClassName("expand");



for (var i = 0; i < coll.length; i++) { 
	var button = document.createElement("button");
	button.innerHTML = "+";
	button.className = "collapsible";
	coll[i].appendChild(button);
	
	var content = document.createElement('div');
	content.className = "content";
	coll[i].parentNode.insertBefore(content,coll[i].nextSibling);
	var elmt = content.nextElementSibling;
	while(elmt != null && elmt.tagName != "H2"){
		content.appendChild(elmt);
		elmt =  content.nextElementSibling;
	}
	
	coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
	
	var content = this.nextElementSibling ;
	var button =  this.lastChild;
   if (content.style.maxHeight){
      content.style.maxHeight = null;
	  button.innerHTML = "+";
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
	  	 button.innerHTML = "−";
    } 
   
  });
  //coll[i].click();
}
$('.lazyYT').lazyYT("AIzaSyDyXL7jnZkL6Ayih-TtVN9Hbiybj5Izcs4");
</script>
</footer>
