<!-- Header Start -->
<header>

			
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
			<div class="navbar-brand">
			<a href="{{site.baseurl}}/{{page.lang}}/"><img src="{{site.baseurl}}/img/logo.png" alt="Logo" style="height: 50px;float:left;margin-right:10px"></a>
			</div>
			
			
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
				{% if page.lang == "en" %}
				<li class ="dropdown {% if page.url == "/en/gis/" or page.url == "/en/members/"%}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown"href="#">GIS</a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/{{page.lang}}/gis" {% if page.url == "/en/gis/"%}style="color: #d2814c;"{% endif %}>What is a GIS ?</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/members" {% if page.url == "/en/members/"%}style="color: #d2814c;"{% endif %}>Members</a></li>
					</ul>
				</li>
				<li class ="dropdown {% if page.url == "/en/publications/" or page.url == "/en/packages/"%}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown"href="#">Methods & Tools</a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/{{page.lang}}/publications" {% if page.url == "/en/publications/"%}style="color: #d2814c;"{% endif %}>Publications</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/packages" {% if page.url == "/en/packages/"%}style="color: #d2814c;"{% endif %}>Packages</a></li>
					</ul>
				</li>
				<li class ="dropdown {% if page.url == "/en/fondamentals/" or page.url == "/en/sizing-models/" or page.url == "/en/sizing-codes/" or page.url == "/en/optimizations/"%}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown"href="#">Web Learning</a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/{{page.lang}}/fondamentals" {% if page.url == "/en/fondamentals/"%}style="color: #d2814c;"{% endif %}>Fondamentals of sizing</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/sizing-models" {% if page.url == "/en/sizing-models/"%}style="color: #d2814c;"{% endif %}>Sizing Models</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/sizing-codes" {% if page.url == "/en/sizing-codes/"%}style="color: #d2814c;"{% endif %}>Sizing Codes</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/optimizations" {% if page.url == "/en/optimizations/"%}style="color: #d2814c;"{% endif %}>Optimizations & Explanations</a></li>
					</ul>
				</li>
				<li class ="dropdown {% if page.url == "/en/models/" or page.url == "/en/cases/"%}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown"href="#">Applications cases</a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/{{page.lang}}/models" {% if page.url == "/en/models/"%}style="color: #d2814c;"{% endif %}>Models Examples</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/cases" {% if page.url == "/en/cases/"%}style="color: #d2814c;"{% endif %}>Cases Studies</a></li>
					</ul>
				</li>
				<li {% if page.url == "/en/contact/"%}class="active"{% endif %}><a href="{{ site.baseurl }}/{{page.lang}}/contact">Contact</a></li>
				<li><a href="{{site.baseurl}}{{page.url | replace:"/en","/fr"}}"><span style="color:#d2814c;font-weight:bold">EN</span> / FR</a></li>
		
				
			
				{% endif %}
				{% if page.lang == "fr" %}
				<li class ="dropdown {% if page.url == "/fr/gis/" or page.url == "/fr/members/"%}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown"href="#">GIS</a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/{{page.lang}}/gis" {% if page.url == "/fr/gis/"%}style="color: #d2814c;"{% endif %}>Qu'est ce qu'un GIS ?</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/members" {% if page.url == "/fr/members/"%}style="color: #d2814c;"{% endif %}>Membres</a></li>
					</ul>
				</li>
				<li class ="dropdown {% if page.url == "/fr/publications/" or page.url == "/fr/packages/"%}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown"href="#">Méthodes & Outils</a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/{{page.lang}}/publications" {% if page.url == "/fr/publications/"%}style="color: #d2814c;"{% endif %}>Publications</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/packages" {% if page.url == "/fr/packages/"%}style="color: #d2814c;"{% endif %}>Packages</a></li>
					</ul>
				</li>
				<li class ="dropdown {% if page.url == "/fr/designs/" or page.url == "/fr/sizing-models/" or page.url == "/fr/sizing-codes/" or page.url == "/fr/optimizations/"%}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown"href="#">Cours</a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/{{page.lang}}/designs" {% if page.url == "/fr/designs/"%}style="color: #d2814c;"{% endif %}>Architecture & Design Drivers</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/sizing-models" {% if page.url == "/fr/sizing-models/"%}style="color: #d2814c;"{% endif %}>Sizing Models</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/sizing-codes" {% if page.url == "/fr/sizing-codes/"%}style="color: #d2814c;"{% endif %}>Sizing Codes</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/optimizations" {% if page.url == "/fr/optimizations/"%}style="color: #d2814c;"{% endif %}>Optimisations & Explications</a></li>
					</ul>
				</li>
				<li class ="dropdown {% if page.url == "/fr/models/" or page.url == "/fr/cases/"%}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown"href="#">Cas d'applications</a>
					<ul class="dropdown-menu">
						<li><a href="{{ site.baseurl }}/{{page.lang}}/models" {% if page.url == "/fr/models/"%}style="color: #d2814c;"{% endif %}>Exemples de modèles</a></li>
						<li><a href="{{ site.baseurl }}/{{page.lang}}/cases" {% if page.url == "/fr/cases/"%}style="color: #d2814c;"{% endif %}>Cas d'études</a></li>
					</ul>
				</li>
				<li {% if page.url == "/fr/contact/"%}class="active"{% endif %}><a href="{{ site.baseurl }}/{{page.lang}}/contact">Contact</a></li>
				<li><a href="{{site.baseurl}}{{page.url | replace:"/fr","/en"}}">EN / <span style="color:#d2814c;font-weight:bold">FR</span></a></li>
				
			
				{% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
